@use './variables' as *;

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom right, #252525, #544d44);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 5;
  opacity: 0.5;
  transition: $transition-default;

  @media (min-width: $tablet-min-width) {
    right: 72px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    border-radius: 44%;
  }

  @media (min-width: $desktop-min-width) {
    right: 120px;
    bottom: 35px;
    width: 55px;
    height: 55px;
    border-radius: 40%;
  }

  &:hover {
    background: linear-gradient(to bottom right, #413b34, #272222);
    box-shadow: 1px 4px 12px $button-hover-shadow;
    transform: scale(1.15);
    opacity: 1;
  }

  &:active {
    background: linear-gradient(to bottom right, #413b34, #272222);
    box-shadow: 1px 4px 16px $button-hover-shadow;
    transform: scale(1.12);
    opacity: 1;
  }
}
