@use './variables' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-background-color;
  padding: 0 48px;
  height: 56px;
  border-radius: 40px;
  color: $button-text-color;
  text-decoration: none;
  cursor: pointer;
  font-weight: $bike-card-title-weight;
  font-size: $bike-card-description-font-size;
  line-height: 27px;
  border: none;

  &:hover {
    transform: scale(0.93);
    box-shadow: 1px 4px 16px $button-hover-shadow;
  }

  &:active {
    transform: scale(1.07);
    box-shadow: 1px 4px 16px $button-hover-shadow;
  }
}
