@use 'variables' as *;
@use './mixins' as *;

footer {
  background-image: url(../images/footer-mb.png);
  height: 200px;
  margin-top: 120px;
  background-size: cover;
  background-position: 58% center;
  z-index: -1;

  @media (min-width: $tablet-min-width) {
    background-image: url(../images/footer-tablet.png);
    height: 480px;
    margin-top: 120px;
  }

  @media (min-width: $desktop-min-width) {
    background-image: url(../images/footer-desktop.png);
    height: 555px;
    margin-top: 182px;
  }
}
