@use 'variables' as *;

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  transition: all 0.3s ease;

  @media (min-width: $tablet-min-width) {
    width: 32px;
    height: 32px;
    background-size: 24px;
  }
}

.icon--phone {
  background-image: url(../icons/icon-phone.svg);

  &:hover {
    transform: scale(1.2);
  }
}

.icon--menu {
  background-image: url(../icons/icon-burger-menu.svg);

  &:hover {
    background-image: url(../icons/icon-burger-menu-hover.svg);
  }
}
