$font-size: 36px;
$font-size-tablet: 64px;
$font-size-desktop: 80px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-aside-items: 22px;
$section-title-letter-spacing: -1.5px;
$aside-items-letter-spacing: 2px;
$section-title-size: 32px;
$section-title-size-tablet: 48px;
$button-background-color: rgba(255, 255, 255, 1);
$button-text-color: rgba(29, 29, 29, 1);
$input-background-color: rgba(248, 248, 250, 1);
$input-text-color: rgba(126, 126, 131, 1);
$input-border-radius: 16px;
$aside-background-color: rgba(194, 194, 194, 1);
$button-hover-shadow: rgba(232, 232, 240, 0.4);
$contact-hover-color: rgba(255, 255, 255, 0.58);
$transition-default: all 0.3s ease;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$tablet-min-width: 520px;
$desktop-min-width: 970px;
