$header-bottom-title-font-size: 36px;
$header-bottom-title-font-size-tablet: 64px;
$header-bottom-title-font-size-desktop: 80px;
$section-title-weight: 500;
$bike-card-title-weight: 700;
$bike-card-description-weight: 400;
$bike-card-price-weight: 700;
$aside-items-weight: 600;
$section-title-size: 32px;
$section-title-size-tablet: 48px;
$bike-card-title-font-size: 24px;
$bike-card-description-font-size: 16px;
$bike-card-price-font-size: 24px;
$aside-items-font-size: 22px;
$section-title-letter-spacing: -1.5px;
$aside-items-letter-spacing: 2px;
$button-background-color: rgba(255, 255, 255, 1);
$button-text-color: rgba(29, 29, 29, 1);
$input-background-color: rgba(248, 248, 250, 1);
$input-text-color: rgba(126, 126, 131, 1);
$input-border-radius: 16px;
$aside-background-color: rgba(194, 194, 194, 1);
$tablet-min-width: 470px;
$desktop-min-width: 970px;
$button-hover-shadow: rgba(232, 232, 240, 0.4);
$contact-hover-color: rgba(255, 255, 255, 0.581)
